@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sample Application</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">the purpose of this application is to test Web App and implement Web API.</a>.</p>
</div>
